
/* This is the CSS for the Help Bundle*/
h1 
{
color:1a4593;
font-size:30px;
}
h2 
{ 
color:1a4593; 
font-size:25px; 
}
body 
{
background-color:#e6dcc8;    
} 
p 
{
color:1a4593;
font-size:20px;  
}
a 
{
color:1a4593;
} 
li 
{ 
color:1a4593;
font-size:20px;
}

/* The Proejct Help Bundle works a bit better on Firefox than IE*/ 